.button-yellow, .button-yellow:visited{
    background-color: #fff510;
    border-color: #fff510;
}

.button-yellow:hover{
    background-color: #ddd400;
    border-color: #ddd400
}

.button-yellow:focus, .button-yellow:active{
    background-color: #fff510;
    border-color: #fff510;
    box-shadow: 0 0 0 .2rem rgba(255, 245, 16, 0.4)
}

.button-red, .button-red:visited{
    background-color: #fe3837;
    border-color: #fe3837
}

.button-red:hover{
    background-color: #de2a29;
    border-color: #de2a29
}

.button-red:focus{
    background-color: #fe3837;
    border-color: #fe3837;
    box-shadow: 0 0 0 .2rem rgba(254, 56, 55, 0.4)
}

.button-green, .button-green:visited{
    background-color: #0abf02;
    border-color: #0abf02
}

.button-green:hover{
    background-color: #079a00;
    border-color: #079a00
}

.button-green:focus{
    background-color: #0abf02;
    border-color: #0abf02;
    box-shadow: 0 0 0 .2rem rgba(10, 191, 2, 0.4)
}

.button-blue, .button-blue:visited{
    background-color: #0046f0;
    border-color: #0046f0
}

.button-blue:hover{
    background-color: #003dd0;
    border-color: #003dd0
}

.button-blue:focus{
    background-color: #0046f0;
    border-color: #0046f0;
    box-shadow: 0 0 0 .2rem rgba(0, 70, 240, 0.4)
}

.button-gray, .button-gray:visited{
    background-color: #333333;
    border-color: #333333
}

.button-gray:hover{
    background-color: #404040;
    border-color: #a0a0a0
}

.button-gray:focus{
    background-color: #0046f0;
    border-color: #0046f0;
    box-shadow: 0 0 0 .2rem rgba(0, 70, 240, 0.4)
}